<form (submit)="onCollectionSubmit()">
    <div class="form-control">
        <p>Enter a search topic (like "moon"). A description is not required. Just click on any photo you wish to add 
        and it will automatically be placed into that collection (you can check for this in the browser debugger).</p>
    </div>
    <div class="form-control">
        <p>Picture Search:</p>
        <input type="text" [(ngModel)]="searchPhoto" name= "searchPhoto" class = "form-control" placeholder = "Search">
        <br/>
        <p>Title: </p>
        <input type = "text" [(ngModel)]="collectionTitle"  name= "collectionTitle" placeholder="Title" class = "form-control">
        <br/>
        <p>Description: </p>
        <input type = "text" [(ngModel)]="collectionDescrip" name = "collectionDescrip" placeholder="Description" class = "form-control">
        <br/>
        <p>Click the checkbox to make your collection public</p>
        <input type="checkbox" name="isPublic" [(ngModel)]="isPublic">
        {{isPublic}}
        <br/>
        <br/>
        <button class = "btn btn-primary" (click) = search() >Search</button>
        <input type="submit" class="btn btn-primary" value="Submit">
        </div>
       
        <br/>
</form>
 
<div class = "row">
<ul>
<li *ngFor = "let photo of photos" class = image-container>
<a (click) = "addToCollection(photo) "><img src = "{{photo.links[0]['href']}}"></a>
<p>{{photo.data[0]['title']}}</p>
</li>
</ul>
</div>
