<br/>

<div class= "jumbotron text-center">
    <h1>Welcome to the NASA Photo Crawler!</h1>
<p class= "lead">This site will allow you to create collections of your favourite photos taken directly from NASA! Checkout some of the most popular public
collections or login to make your own! Users have the added benefit of voting on other collections; can yours make it to the top?</p>
<div>
    <a class = "btn btn-primary" routerLink="['/register']">Register</a><a class="btn btn-default" routerLink="['/login]">Login</a>
</div>
</div>